<section class="section">
    <div class="container">
        <div class="row">

            <!-- loop over our users and give them each a card -->
            <div class="col-md-4" *ngFor="let user of users | async">
                <div class="card">
                    <div class="card-body">
                        <a routerLink="/users/{{ user.login }}">{{ user.login }}</a>
                    </div>   
                </div>      
            </div>
            
        </div>
    </div>
</section>