.container{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 30vh;
}

h1{
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
