<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="container-fluid">
        <div class="intro">
            <h1>Git-Search <i class="fa fa-search" aria-hidden="true"></i></h1>
            <p>An Angular app that allows you to search Github users and take a look at their repositories!</p>
            <p>Isn't it fun???</p>
            <button><a href="" routerLink="/profile">Take a look...</a></button>
        </div>    
    </div>
</body>