body{
    background-image: url("../../assets/srch.jpg");
    background-size: cover;
    height: 680px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
.intro{
    padding-top: 30vh;
    background-color: black;
    opacity: .8;
    width: 50%;
    height: 680px;
    margin-left: 25%;
}

h1{
    color: white;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

p{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

button{
    border-radius: 10px;
    background-color: rgb(61, 3, 61);
    margin-left: 35%;
    height: 40px;
}
button a{
    color: white;
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
    text-decoration: none;
}
button a:hover{
    color:crimson;
}