form{
    padding-top: 50px;
}
.jumbotron{
    background-color:crimson;
}
.jumbotron h2{
    font-family: monospace;
    font-size: 80px;
    color: white;
}
.jumbotron h3{
    font-family: serif;
    font-size: 40px;
    color:white;
    text-align: center;
    font-weight: 700;
}